<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <i class="fa fa-home" aria-hidden="true"></i> {{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	{{ range $key, $val := .Site.Params.Links }}
		<a href="{{ $val }}">{{ $key }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	<a href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}<i class="fa fa-rss" aria-hidden="true"></i>{{ end }}</a>
	{{ end }}
	<a class="cta" href="https://github.com/lroellin/jsfuckery">Contribute</a>
</nav>
