<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
            <li class="post">
                <a href='{{ .Permalink }}'>{{ .Title }}</a>
                <h2 class="headline">
                        {{ .Date.Format "Jan 2" }}
                    · <a href="https://github.com/{{ .Params.githubUsername }}" class="github">{{ .Params.githubUsername }}</a>
                </h2>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </li>
        {{ end }}
    {{ end }}
</ul>
